Babel==2.3.3
Django==1.9.2
Pillow==3.2.0
argparse==1.2.1
django-bootstrap3==7.0.1
django-bootstrap3-datetimepicker==2.2.3
django-phonenumber-field==1.1.0
django-registration==2.0.4
django-registration-redux==1.4
phonenumberslite==7.3.0
pytz==2016.3
wsgiref==0.1.2
