{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 align="center">{{ player.PlayerFirstName }} {{ player.PlayerLastName }}</h1>
    <p>Guardian: {{ player.GuardianFirstName }} {{ player.GuardianLastName }}</p>
    <p>Date Of Birth: {{ player.DateOfBirth }}</p>
    <p>Address: {{ player.Street }}</p>
    <p>City: {{ player.City}}</p>
    <p>State: {{ player.State}}</p>
    <p>Zip Code: {{ player.Zipcode }}</p>
    <p>Phone Number: {{ player.PhoneNumber }}</p>
</div>
{% endblock %}